<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<body>

</body>
<script th:src="@{vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
<script th:src="@{js/dataTables.select.min.js}"></script>
<script src="@{vendors/js/vendor.bundle.base.js}"></script>
<script src="@{js/off-canvas.js}"></script>
<script src="@{js/hoverable-collapse.js}"></script>
<script src="@{js/template.j}s"></script>
<script src="@{js/settings.js}"></script>
<script src="@{js/todolist.js}"></script>
<script th:src="@{js/dashboard.js}"></script>
<script th:src="@{js/Chart.roundedBarCharts.js}"></script>
</html>