<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/dashboard}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/asset}">
            <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Asset</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/froozen}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Frozen</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/raw}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Raw</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/retur}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data retur</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/transferplant}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data TransferPlant</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/karyawan}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Karyawan </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{users}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Users </span>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>