<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{assets/cashier}">
            <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Assets Cashier</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{assets/dokumen}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Assets Dokumen</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{assets/lobby}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Assets Lobby</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{assets/kitchen}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Assets Kitchen</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{assets/manager}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Assets Manager</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{data/barang/ayam}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Barang Ayam</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{data/barang/dc}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Barang DC</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{data/barang/minyak}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Barang Minyak</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{data/barang/retur}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Barang Retur</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{data/barang/vendor}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Barang Vendor</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{data/dokumen/masuk}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Dokumen Masuk </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{data/dokumen/keluar}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Dokumen Keluar </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{karyawan}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Karyawan </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{users}">
                <i class="icon-archive menu-icon"></i>
                <span class="menu-title">Data Users </span>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>