<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://io.github.jpenren/sd">
<div th:replace="'pages/template/head' :: head"></div>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
  <div th:replace="'pages/template/sidebar' :: sidebar"></div>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <div th:replace="'pages/template/topbar' :: topbar"></div>
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Data Barang Frozen</h6> </br>
                <div class="col-md-12">
                    <a th:href="@{/frozen/form}" class="btn btn-primary float-right"><i class="fas fa-plus-square"></i> New Data</a>
                    <div class="col-md-6">
                        <a th:href="@{/frozen/export/excel}" class="btn btn-success float-left"><i class="fas fa-file-excel"></i> EXCEL</a>
                        <a th:href="@{/frozen/export/pdf}" class="btn btn-danger float-left"><i class="fas fa-file-pdf"></i> PDF</a>
                    </div>
                </div>
            </div>
          <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    Total <span sd:page-size-selector="default"></span> Data
                    <br><br>
                <thead>
               <tr>
                <th class="text-center">No</th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="vendor">Vendor</a></th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="suhuProduct">Suhu Product</a></th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="namaProduct">Nama Product</a></th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="productionDate">Produksi</a></th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="expDate">Exp Date</a></th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="negara">Negara</a></th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="uom">UOM</a></th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="codeBarang">Kode</a></th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="tanggalPenerimaan">Tanggal Penerimaan</a></th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="deskripsi">Deskripsi</a></th>
                <th class="text-center"><a class="sorted" sd:pagination-sort="pic">PIC</a></th>
                <th class="text-center"><a></a>Action</th>
              </tr>
              </thead>
                <tbody>
                <tr th:each="frozen, itrStat: ${list}">
                  <td th:text="${itrStat.count}"></td>
                  <td th:text="${frozen.vendor}"></td>
                  <td th:text="${frozen.suhuProduct}"></td>
                  <td th:text="${frozen.namaProduct}"></td>
                  <td th:text="${frozen.productionDate}"></td>
                  <td th:text="${frozen.expDate}"></td>
                  <td th:text="${frozen.negara}"></td>
                  <td th:text="${frozen.uom}"></td>
                  <td th:text="${frozen.codeBarang}"></td>
                  <td th:text="${frozen.tanggalPenerimaan}"></td>
                  <td th:text="${frozen.deskripsi}"></td>
                  <td th:text="${frozen.pic}"></td>
                  <td>
                    <a th:href="@{/frozen/form/{id}(id=${frozen.id})}" class="btn btn-primary"><i class="fas fa-edit"></i>Change</a>
                    <a th:href="@{/frozen/delete/{id}(id=${frozen.id})}" class="btn btn-danger"><i class="fas fa-trash"></i>Delete</a>
                  </td>
                </tr>
                </tbody>
              </table>
                <div class="row">
                    <div class="col-sm-6">
                        <div sd:pagination-summary="">info</div>
                    </div>
                    <div class="col-sm-6">
                        <nav class="float-right">
                            <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
          </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <div th:replace="'pages/template/footer' :: footer"></div>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<div th:replace="'pages/template/logout' :: logout"></div>
<div th:replace="'pages/template/script' :: script"></div>
</body>

</html>