<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<div th:replace="'pages/template/head' :: head"></div>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
       <div th:replace="'pages/template/sidebar' :: sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <div th:replace="'pages/template/topbar' :: topbar"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Form Edit Data Assets</h6>
                        </div>
                        <div class="card-body">
                            <form action="#" th:action="@{/asset/update/{id}(id=${asset.id})}"
                                  th:object="${asset}"
                                 method="post">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="noAsset">No Asset</label>
                                        <input type="text" class="form-control" th:field="*{noAssets}" id="noAsset" placeholder="No Asset ...">
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('noAssets')}" th:errors="*{noAssets}"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="namaAsset">Nama Asset</label>
                                        <input type="text" class="form-control" th:field="*{nama}" id="namaAsset" placeholder="Nama Asset ...">
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('nama')}" th:errors="*{nama}"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="vendor">Vendor</label>
                                        <input type="text" class="form-control" th:field="*{vendor}" id="vendor" placeholder="Nama Vendor ...">
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="tanggalPenerimaan">Tanggal Penerimaan</label>
                                        <input type="date" class="form-control" id="tanggalPenerimaan" th:field="*{tanggalDiterima}" placeholder="tanggal penerimaan ...">
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('tanggalDiterima')}" th:errors="*{tanggalDiterima}"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="jenis">Jenis Asset</label>
                                        <input type="text" class="form-control" id="jenis"  th:field="*{jenis}" placeholder="Jenis Asset ...">
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('jenis')}" th:errors="*{jenis}"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="qty">Qty</label>
                                        <input type="text" class="form-control" id="qty" th:field="*{quantity}" placeholder="Jumlah Barang ...">
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="harga">Harga</label>
                                        <input type="text" class="form-control" id="harga" th:field="*{hargaAssets}" placeholder="Harga Assets ...">
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('hargaAssets')}" th:errors="*{hargaAssets}"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="tanggalInput">Tanggal Input</label>
                                        <input type="date" class="form-control" id="tanggalInput" th:field="*{tanggalInput}" placeholder="Tanggal Input">
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('tanggalInput')}" th:errors="*{tanggalInput}"></div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>PIC</label> <br>
                                        <select th:field="*{users}" class="form-control">
                                            <option value=""></option>
                                            <option th:each="list: ${users}" th:value="${list.id}" th:text="${list.nama}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <a th:href="@{/asset/index}" class="btn btn-primary float-left">Kembali</a>
                                        <button type="submit" class="btn btn-secondary float-right">Submit Data</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

        <div th:replace="'pages/template/footer' :: footer"></div>

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div th:replace="'pages/template/logout' :: logout"></div>
    <div th:replace="'pages/template/script' :: script"></div>

    </div>
</body>

</html>