<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<div th:replace="'pages/template/head' :: head"></div>
<body id="page-top">

<div id="wrapper">
  <div th:replace="'pages/template/sidebar' :: sidebar"></div>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div th:replace="'pages/template/topbar' :: topbar"></div>
      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data</h6>
            <a th:href="@{/asset/form}" class="btn btn-primary">Tambah Data</a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">  <thead>
                <thead>
                <tr>
                  <th>No</th>
                  <th>No Assets</th>
                  <th>Nama Asset</th>
                  <th>Vendor</th>
                  <th>Tanggal Penerima</th>
                  <th>Jenis Asset</th>
                  <th>Qty</th>
                  <th>Harga</th>
                  <th>Tanggal Input</th>
                  <th>PIC</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="asset, itrStat: ${listAsset}">
                  <td th:text="${itrStat.count}"></td>
                  <td th:text="${asset.noAssets}"></td>
                  <td th:text="${asset.nama}"></td>
                  <td th:text="${asset.vendor}"></td>
                  <td th:text="${asset.tanggalDiterima}"></td>
                  <td th:text="${asset.jenis}"></td>
                  <td th:text="${asset.quantity}"></td>
                  <td th:text="${asset.hargaAssets}"></td>
                  <td th:text="${asset.tanggalInput}"></td>
                  <td th:text="${asset.pic}"></td>
                  <td>
                    <a th:href="@{/asset/form/(id=${asset.id})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/asset/delete/(id=${asset.id})}" class="btn btn-danger">Delete</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="'pages/template/footer' :: footer"></div>
  </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<div th:replace="'pages/template/logout' :: logout"></div>
<div th:replace="'pages/template/script' :: script"></div>
</body>

</html>