<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<div th:replace="'pages/template/head' :: head"></div>
<body class="bg-gradient-primary">

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5"><b>SIMRF</b></h5>
                        <div class="text-center">
                        <img th:src="@{../logo_richeese.png}" alt="Gambar Richeese Factory">
                        </div>  </br>
                        <p class="text-center"><b>Information Management System</b></p>
                        <form>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Masukan username">
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Masukan password">
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <div class="form-check mb-3"> <br/>
                                <a th:href="@{/forgetpassword}">Lupa Password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="'pages/template/script' :: script"></div>
</body>

</html>