<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<div th:replace="'pages/template/head' :: head"></div>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
  <div th:replace="'pages/template/sidebar' :: sidebar"></div>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <div th:replace="'pages/template/topbar' :: topbar"></div>
      <!-- Begin Page Content -->
      <div class="container-fluid">

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data</h6>
            <div class="btn btn-primary text-center">Tambah Data</div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Tanggal Pengiriman</th>
                  <th>No Dokumen</th>
                  <th>Nama Barang</th>
                  <th>Quantity Barang</th>
                  <th>UOM</th>
                  <th>Outlet Penerima</th>
                  <th>Outlet Pengirim</th>
                  <th>Mod Incharge</th>
                  <th>PIC</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transfer, itrStat: ${listTransferplant}">
                  <td th:text="${itrStat.count}}"></td>
                  <td th:text="transfer.tanggal_dikirim"></td>
                  <td th:text="transfer.no_dokumen"></td>
                  <td th:text="transfer.nama_barang"></td>
                  <td th:text="transfer.quantity_barang"></td>
                  <td th:text="transfer.uom"></td>
                  <td th:text="transfer.outlet_penerima"></td>
                  <td th:text="transfer.outlet_pengirim"></td>
                  <td th:text="transfer.mod_incharge"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <div th:replace="'pages/template/footer' :: footer"></div>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<div th:replace="'pages/template/logout' :: logout"></div>
<div th:replace="'pages/template/script' :: script"></div>
</body>

</html>

